# Go to https://ironbook.identitymachines.com to create a free account; provision your API Key in Your Organization Name (Top right) => Settings
# The Iron Book Portal also allows you to view agents, their audit logs, create policies, and more.
IRONBOOK_API_KEY='REPLACE ME'

IRONBOOK_AUDIENCE=https://api.identitymachines.com

# Service ports/urls
SUMMARIZER_HOST=0.0.0.0
SUMMARIZER_PORT=8001
SUMMARIZER_URL=http://localhost:8001/agents/summarizer

# Agent names (optional overrides)
TRIAGE_AGENT_NAME=a2atriage
SUMM_AGENT_NAME=a2asummarizer
